* { margin: 0; padding: 0; }

body {
    font: 16px Georgia, Times New Roman, serif;
}

h1 {
    font-size: 24px;
    line-height: 1.4;
}

.hidden {
    display: none !important;
}

.answer {
    font-size: 20px;
    line-height: 1.4;
    margin: 10px auto 0;
    text-align: center;
    width: 550px;
}
.answer .trigger {
    color: #888;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
    clear: both;
}

.next-question {
    font-size: 18px;
    line-height: 1.4;
    margin: 25px auto 0px auto;
    text-align: center;
    width: 150px;
}
.next-question a {
   color: #660000;
}
.next-question a:hover {
    text-decoration: none;
}

.tags {
    text-align: right;
    font-size: 14px;
}
.tags ul {
    margin-top: 15px;
}
.tags li.tag {
    display: inline; 
    padding-left: 20px; 
    color: #888;
}
.tags li.tag:hover {
    color: #000000;
    text-decoration: line-through;
    cursor: pointer;
}
.tags li.tag span.show {
    display: inline;
}
.tags li.tag span.noshow {
    display: none;
}
.tags li.tag:hover span.show {
    display: none;
}
.tags li.tag:hover span.noshow {
    display: inline;
}
.tags li.add {
    color: #000000;
    cursor: pointer;
    display: inline;
    padding-left: 20px;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
label {
    padding-right: 20px;
}

button {
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #666;
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
}

body > section {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    max-width: 600px;
}

body > footer {
    margin: 10px auto;
    padding: 0 15px;
    max-width: 600px;
}

body > footer h1 {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.6;
    padding-right: 5px;
}

body > footer a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}
body > footer span.link {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    padding-left: 15px;
}
body > footer span.flagged {
  color: #ff0000;
  font-size: 12px;
  display: inline;
  padding-left: 15px;
}

@media (max-width: 480px) {
    body > section,
    body > footer {
        width: 85%;
    }
    body > section {
        padding: 10px;
    }
    textarea {
        margin-bottom: 10px;
    }
    .answer {
        padding-bottom: 5px;
        width: 90%;
    }
    h1 {
        font-size: 18px;
    }
    .answer .trigger {
        font-size: 18px;
    }
}
