<section id="question-section">
  <div style="display: none" class="errors"></div>
  <form id="edit-question">
    <textarea id="question" placeholder="What is this?"><%= model.get('question') %></textarea>
    <textarea id="answer" placeholder="A Trivia App"><%= model.get('answer') %></textarea>
    <button id="save">Save Question</button>
    <input type="hidden" id="id" name="id" value="<%= model.get('id') %>" />
  </form>
</section>
<footer>
  <h1>Trivia</h1>
  <a href="">Random Question</a>
</footer>
