<section id="question">
  <h1><%= model.get('question') %></h1>
  <div class="answer">
    <a class="trigger" onclick="toggle()" id="show-answer">Show answer</a>
    <br />
    <span class="hidden target" id="target"><%= model.get('answer') %></span>
  </div>

  <div class="next-question"><a href="" id="next-question">Next question</a></div>
</section>
<footer>
  <h1>Trivia</h1>
  <span id="add-question"  class="link">Add Question</span>
  <span id="edit-question" class="link">Edit Question</span>
</footer>

<script type="text/javascript">
    function toggle() {
        if (jQuery('#target').hasClass('hidden')) {
            jQuery('#target').removeClass('hidden');
            jQuery('#show-answer').text("Hide answer");
        } else {
            jQuery('#target').addClass('hidden');
            jQuery('#show-answer').text("Show answer");
        }
    }
</script>